body {
	margin: 0;
	background-color: #343d44;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

@keyframes _scroll {
	0% {
		background-position: 0% 0;
	}

	100% {
		background-position: -300px 0;
	}
}

@keyframes _tube_fly {
	0% {
		left: 100%;
	}

	100% {
		left: -20%;
	}
}

.game-container {
	position: relative;
	width: 100%;
	max-width: 500px;
	background-image: url('../images/bg5.png');
	background-repeat: repeat;
	animation-name: _scroll;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	background-size: 300px 800px;
	overflow: hidden;
}

.container__wrapper {
	padding: 70.5% 0;
}

.score-container {
	position: absolute;
	top: 2%;
	right: 5%;
	font-size: 2em;
	color: #fff;
	z-index: 100;
}

.results {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 300px;
	z-index: 100;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.result--hidden {
	display: none;
}

.results__score {
	color: #fff;
	font-size: 3em;
	font-weight: bold;
}

.results__button {
	border: none;
	background-color: transparent;
	font-size: 1em;
	font-family: inherit;
	cursor: pointer;
	padding: 0.5em 1em;
	background-color: #fff;
	border-radius: 1em;
	margin-top: 1em;
}

#bird {
	position: absolute;
	width: 15%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url('../images/bird.png');
	background-position: center;
	background-size: cover;
	z-index: 10;
}

.bird__wrapper {
	padding: 39.19% 0;
}

.column {
	position: absolute;
	height: 100%;
	width: 20%;
	top: 0;
	left: 20%;
	animation-name: _tube_fly;
	animation-duration: 3s;
	animation-timing-function: linear;
}

.column__top {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transform: rotate(180deg);
	background-image: url('../images/column.png');
	background-size: 100% auto;
}

.column__bottom {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background-image: url('../images/column.png');
	background-size: 100% auto;
}